<div class="page-title">
    <div class="title_left">
        <h3>Habitante</h3>
    </div>
    <div class="title_right">
        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="" ng-model="search">
                <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Buscar</button>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="x_panel">
    <div class="x_title">
        <h2>Todos los habitantes</h2>
        <button ng-click="openModal('agregar')" type="button" class="btn btn-default btn-sm pull-right"><i class="fa fa-plus"></i> Agregar nuevo</button>
        <div class="clearfix"></div>
    </div>
    <div class="x_content table-responsive">
        <table class="table table-hover ">
            <thead>
                <tr>
                    <th>Cédula</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Fecha de nacimiento</th>
                    <th>Teléfono celular</th>
                    <th>Teléfono habitación</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-show="datas.length==0 || datas == null" class="text-center ">
                    <td colspan="11">No existen datos registrados</td>
                </tr>
                <tr ng-click="openModal('editar', x);" ng-show="datas.length!=0" ng-repeat="x in datas | filter:search | limitTo: limit:begin">
                    <td>[[x.nacionalidad]]-[[x.cedula]]</td>
                    <td>[[x.nombre]]</td>
                    <td>[[x.apellido]]</td>
                    <td>[[x.fecha_de_nacimiento]]</td>
                    <td>[[x.telefono_celular]]</td>
                    <td>[[x.telefono_habitacion]]</td>
                </tr>
            </tbody>
        </table>

        <ul class="pagination pull-right">
            <li ng-show="current_page>=6"><span>...</span></li>
            <li ng-click="cambiarPagina(num)" ng-repeat="num in numPages"><a href="javascript:void">[[num]]</a></li>
            <li ng-show="current_page + 5 <= cantPages"><span>...</span></li>
        </ul>

    </div>
</div>
<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Habitante</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Nacionalidad</label>
                                <div>
                                    <select ng-model="data.nacionalidad" ng-value="data.nacionalidad" class="form-control">
                                        <option value="V">V</option>
                                        <option value="E">E</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Cedula</label>
                                <div>
                                    <input type="text" ng-model="data.cedula" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label for="">Nombres</label>
                            <div class="form-group">
                                <div>
                                    <input type="text" ng-model="data.nombre" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="">Apellidos</label>
                            <div class="form-group">
                                <div>
                                    <input type="text" ng-model="data.apellido" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="">Casa</label>
                            <div class="form-group">
                                <div>
                                    <input type="text" ng-model="data.casa" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label for="">Calle</label>
                            <div class="form-group">
                                <div>
                                    <input type="text" ng-model="data.calle" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="">Vereda</label>
                            <div class="form-group">
                                <div>
                                    <input type="text" ng-model="data.vereda" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="">Sector</label>
                            <div class="form-group">
                                <div>
                                    <input type="text" ng-model="data.sector" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label for="">Fecha de Nacimiento</label>
                            <div class="form-group">
                                <div>
                                    <input type="text" pattern="[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])" ng-model="data.fecha_de_nacimiento" class="form-control datepicker">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label for="">Telefono Celular</label>
                            <div class="form-group">
                                <div>
                                    <input type="text" ng-model="data.telefono_celular" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label for="">Telefono habitacion</label>
                            <div class="form-group">
                                <div>
                                    <input type="text" ng-model="data.telefono_habitacion" class="form-control">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button ng-show="agregar===false" ng-click="eliminar(tabla, data.id)" type="button" class="btn btn-danger" data-dismiss="modal">Eliminar</button>
                <button ng-click="guardarCambios(tabla, data)" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>